__pycache__/
*.pyc
*.pyo
*$py.class
*.so
backend/rentals/__pycache__/
backend/rentals/migrations/0001_initial.py
backend/rentals/migrations/__pycache__/

# Frontend
frontend/.vscode/
frontend/node_modules/

# Database (recommended)
db.sqlite3
*.sqlite3