/* Import the core Tailwind engine */
@import "tailwindcss";

/* Define your custom Meat Undo color palette */
@theme {
  --color-primary: #7B2525;
  --color-secondary: #BA6A4C;
  --color-accent-1: #607456;
  --color-accent-2: #EEE0CC;
}