<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"> 
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>{% block title %}Pearl Pavilion{% endblock %}</title>
</head>
<body class="bg-[#F2EFEA]">

    <nav class="bg-black shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                
                <div class="flex-shrink-0">
                    <a href="#" class="text-white font-bold text-xl">
                        Pearl Pavilion
                    </a>
                </div>

                <div class="flex items-center">
                    <div class="hidden md:block">
                        <div class="flex items-baseline space-x-4">
                            <a href="{{url_for('home')}}" class="text-[#D9B061]  hover:text-white px-3 py-2 text-sm font-medium">Home</a>
                            <a href="{{url_for('about')}}" class="text-[#D9B061]  hover:text-white px-3 py-2 text-sm font-medium">About</a>
                            <a href="{{url_for('booking')}}" class="text-[#D9B061]  hover:text-white px-3 py-2 text-sm font-medium">Booking</a>
                            <a href="#" class="text-[#D9B061]  hover:text-white px-3 py-2 text-sm font-medium">Contact</a>
                        </div>
                    </div>

                    <div class="hidden md:block ml-4">
                         <a href="#" class="bg-[#D9B061] text-[#F2EFEA] px-3 py-2 rounded-md text-sm font-medium">Register</a>
                    </div>

                    <div class="-mr-2 flex md:hidden ml-4">
                        <button type="button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
                            <span class="sr-only">Open main menu</span>
                            <ion-icon name="menu-outline" class="block h-6 w-6"></ion-icon>
                            <ion-icon name="close-outline" class="hidden h-6 w-6"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="md:hidden hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a href="{{url_for('home')}}" class="text-[#D9B061] hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
                <a href="{{url_for('about')}}" class="text-[#D9B061] hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About</a>
                <a href="{{url_for('booking')}}" class="text-[#D9B061] hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Booking</a>
                <a href="#" class="text-[#D9B061] hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contact</a>
                <a href="#" class="bg-[#D9B061] hover:bg-blue-600 text-white block px-3 py-2 rounded-md text-base font-medium">Register</a>
            </div>
        </div>
    </nav>

    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
           
            'serif': ['"Playfair Display"', 'serif'],
          }
        }
      }
    }
    </script>
    <script>
        const menuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        const openIcon = menuButton.querySelector('ion-icon[name="menu-outline"]');
        const closeIcon = menuButton.querySelector('ion-icon[name="close-outline"]');

        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            openIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });
    </script>
</body>
</html>