# --- General ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# --- Backend (Python & Django) ---
# Virtual Environments
venv/
env/
.env
.venv/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.sqlite3
db.sqlite3
media/
staticfiles/

# Secrets
.env
.env.local
.env.development
.env.production

# --- Frontend (Vue.js & Node) ---
# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/

# Local env files
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?