{% extends 'base.html' %}
{% block title %}Crops{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Crops</h1>
  <p>Explore our wide range of crops that are essential for sustainable agriculture and food security.</p>

  <div class="row mb-4">
    <div class="col-md-6">
      <h2>Featured Crops</h2>
      <p>Discover the most popular crops cultivated in our India.</p>
    </div>
  </div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{{ url_for('static', filename='images/crops/wheat.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wheat</h5>
        <p class="card-text">High Quality</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{{ url_for('static', filename='images/crops/corn.jpg') }}"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Corn</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <img src="{{ url_for('static', filename='images/crops/ragi.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ragi</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <img src="{{ url_for('static', filename='images/crops/rice.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rice</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
