{% extends 'base.html' %}
{% block title %}Crops{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="text-center mb-4">
    <h1>Crops</h1>
    <p class="lead">Discover the essential crops that sustain our world.</p>
  </div>
<h2>🌾 Cereals & Grains</h2>
<div class="d-flex flex-wrap justify-content-center gap-4">
  
<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/rice.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">RICE</h5>
    <p class="card-text">Rice (Basmati) ₹120 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/wheat.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Wheat</h5>
    <p class="card-text">Wheat ₹35 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>
  

<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/corn.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Corn</h5>
    <p class="card-text">Maize (Corn)	₹30 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/barley.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Barley</h5>
    <p class="card-text">Barley (Jau)	₹25 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

</div>
<!--Vegetable section-->
<h2 class="mt-5 mb-4">🌿 Vegetables</h2>
<div class="d-flex flex-wrap justify-content-center gap-4">
  
<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/Cabbage.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Cabbage</h5>
    <p class="card-text"> ₹25 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/tomato.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Tomato</h5>
    <p class="card-text">₹40 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>
  

<div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/Green-Chilli.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Green Chilli</h5>
    <p class="card-text">₹80 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/onion.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Onion</h5>
    <p class="card-text">₹40 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/potato.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Potato</h5>
    <p class="card-text">₹25 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

    <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/Beetroot.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Beetroot</h5>
    <p class="card-text">₹48 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

    <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/Cauliflower.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Cauliflower</h5>
    <p class="card-text">₹35 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>

    <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/crops/Carrot.jpg') }}" class="card-img-top object-fit-cover" style="height: 200px; object-fit: cover;">
  <div class="card-body d-flex flex-column justify-content-center mt-2">
    <h5 class="card-title">Carrot</h5>
    <p class="card-text">₹30 (per kg)</p>
    <a href="#" class="btn bg-primary-subtle mb-2 text-dark">Contact Seller</a>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
  </div>
</div>
</div>
{% endblock %}
