{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container bg-secondary text-light mt-5 p-5 rounded shadow p-3 mb-5 rounded">
<ion-icon name="person-circle-outline" style="font-size: 50px; color: #ffffff;"></ion-icon>

<h3>Welcome, {{ username }}!</h3>
<p>Email: {{ email }}</p>

<a href="{{ url_for('logout') }}">
    <button class="btn bg-danger text-white mt-2 mb-2">Logout</button>
</a>
<ul class="nav nav-underline justify-content-left fs-5 ">
  <li class="nav-item">
    <a class="nav-link text-light"  href="{{ url_for('profile') }}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="{{ url_for('cart') }}">Cart</a>
  </li>
   <li class="nav-item">
    <a class="nav-link text-light" href="{{ url_for('orders') }}">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="{{ url_for('payment') }}">Payments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Reciepts</a>
  </li>

</ul>
<hr style="border: 1px solid #ffffff; width: 100%;">

<div class="row mt-4">
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Join Agro-Tech Rewards</h5>
        <p class="card-text">Unlock exclusive benefits and cutting-edge agricultural technology designed for modern farming professionals.</p>
        <a href="#" class="btn btn-primary">Claim Now</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Join Farmer's Community</h5>
        <p class="card-text">Join Farmer's Community
Connect with fellow growers, agricultural businesses, and food-conscious consumers in one thriving network.</p>
        <a href="#" class="btn btn-success">Join on Whatsapp</a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
    <h4 class="text-center">Your Recent Activities</h4>
    <div class="col">
        <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-body">
            <h5 class="card-title">Recent Purchases</h5>
            <p class="card-text">You have purchased 0 items in the last month.</p>
            </div>
        </div>
        </div>
</div>

</div>
</div>
{% endblock %}
