{% extends 'base.html' %}
{% block title %}Market{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center mb-4">Market</h1>
    <p class="text-center">
"Explore a wide selection of seeds, equipment, and tools available for agricultural purchase."</p>
</div>
 <div class="container">

        <div class="my-5">
            <h1 class="text-center my-4">Seeds</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/rice-seeds.png') }}" class="card-img-top" alt="Paddy Seeds" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Paddy (Grade A)</h5>
                            <p class="card-text fw-bold text-success">₹2,300 /quintal</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/ragi-seeds.jpg') }}" class="card-img-top" alt="Ragi Seeds" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Ragi</h5>
                            <p class="card-text fw-bold text-success">₹4,290 /quintal</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/wheat-seeds.jpg') }}" class="card-img-top" alt="Wheat Seeds" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Wheat</h5>
                            <p class="card-text fw-bold text-success">₹2,425 /quintal</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/barley-seeds.jpg') }}" class="card-img-top" alt="Barley Seeds" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Barley</h5>
                            <p class="card-text fw-bold text-success">₹1,980 /quintal</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-5">
            <h1 class="text-center my-4">Fertilizers</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/urea.png') }}" class="card-img-top" alt="Urea" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Urea</h5>
                            <p class="card-text fw-bold text-success">₹260 /50kg</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/neem-cake.png') }}" class="card-img-top" alt="Neem-Cake" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Neem-Cake</h5>
                            <p class="card-text fw-bold text-success">₹20 – ₹75 per kg</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/vermi-compost.png') }}" class="card-img-top" alt="Vermi-Compost" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Vermi-Compost</h5>
                            <p class="card-text fw-bold text-success">₹10 – ₹80 per kg</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/bio-fertilizer.png') }}" class="card-img-top" alt="Rhizobium Bio-Fertilizer" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Rhizobium Bio-Fertilizer</h5>
                            <p class="card-text fw-bold text-success">₹40 – ₹500 per kg/liter</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-5">
            <h1 class="text-center my-4">Equipments</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/drip-system.png') }}" class="card-img-top" alt="Drip-system" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Drip-system</h5>
                            <p class="card-text fw-bold text-success">₹5,300</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/irigation.png') }}" class="card-img-top" alt="Irrigation System" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Irrigation System</h5>
                            <p class="card-text fw-bold text-success">₹8,290</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/solar-pump.png') }}" class="card-img-top" alt="Solar Pumps" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Solar Pumps</h5>
                            <p class="card-text fw-bold text-success">₹49,000</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 text-center shadow-lg border border-secondary-subtle">
                        <img src="{{ url_for('static', filename='images/marketplace/sprayers.png') }}" class="card-img-top" alt="Sprayers" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">Sprayers</h5>
                            <p class="card-text fw-bold text-success">₹3,000</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
