{% extends 'base.html' %}
{% block title %}Payments{% endblock %}

{% block content %}
<div class="container mt-5">
    <h4 class="fs-2">Payments</h4>
    <div class="mt-3">
        <p>Welcome, {{ username }}! Here you can manage your payment methods and view your payment history.</p>
    </div>
    <div class="card mt-3 w-25">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Payment Methods
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Paymets Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select payment options</option>
                  <option value="1">Google Pay</option>
                  <option value="2">Credit / Debit card</option>
                  <option value="3">Net banking</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        </div>
        
            <div class="container mt-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/sample.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sample product</h5>
                    <p class="card-text">Pending....</p>
                    <a href="#" class="btn btn-primary">Pay Now</a>
                    <a href="#" class="btn btn-primary">Cancel</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}